/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    background: #fdfdfd;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.6em;
}
body::-webkit-scrollbar * {
    background: transparent;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0) !important;
    box-shadow: none;
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.36);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ticket-content::-webkit-scrollbar {
    width: 0.6em;
}
.ticket-content::-webkit-scrollbar * {
    background: transparent;
}
 
.ticket-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0) !important;
    box-shadow: none;
}
 
.ticket-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.36);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.long-modal{
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: initial;
}

.long-modal::-webkit-scrollbar {
    width: 0.6em;
}
.long-modal::-webkit-scrollbar * {
    background: transparent;
}
 
.long-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0) !important;
    box-shadow: none;
}
 
.long-modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.36);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.backdark{
  position: relative;
  background: rgba(128, 128, 128, 0.6);
  width: 100%;
  height: 100%;
}

.ticket-fields{
    background: #FFF;padding:20px 35px !important;border-radius:7px;
}

.ticket-link-fields{
    background: #5540d5;color:#FFF;padding:20px 35px !important;border-radius:7px;position:relative;top:130px;
}

#pay-more{
    top:31px !important;
    border-radius:7px !important;
    width:200px !important;
}

#profile-details{
    top:71.25px !important;
    border-radius:7px !important;
    width:300px !important;
    padding: 15px 0px 0px !important;
}

.header_sec{
	background: #272727;
    color: #FFF;
    padding: 50px 0px;
}

#response{
  background: #21a3ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  color: #fff;
  padding: 8px 20px;
  margin-bottom: 40px;
  margin-top: 12px;
  border-radius: 3px;
  width:100%;
}

#self-image::-webkit-scrollbar {
    width: 0.4em;
    background: rgba(255, 255, 255, 0);
}
#self-image::-webkit-scrollbar * {
    background: transparent;
}
 
#self-image::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
 
#self-image::-webkit-scrollbar-thumb {
  background-color: rgba(39, 39, 39, 0.78);
  border-radius: 3px;
  outline: 1px solid slategrey;
}



#self-modal {
    position: fixed;
    top: 0px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.54);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: none;
    opacity: 0;
}
#s-modal {
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    height: auto;
    border-radius: 5px;
    padding: 15px 0px;
    /*box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.65);*/
    position: relative;
    top: -47em;
}

#loading {
    position: fixed;
    top: 0px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.54);
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: none;
    opacity: 0;
}

#preview-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#edit-preview-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#s-loading {
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    text-align: center;
    height: auto;
    border-radius: 5px;
    padding: 15px 0px;
    /*box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.65);*/
    position: relative;
    top: -47em;
}

nav ul a,
nav .brand-logo {
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.63);
}

p {
    line-height: 1.2;
    font-size: 1rem;
    margin: 1px;
}

.button-collapse {
  color:#5d71ff;
}

.ico-pricing-list{
    background: #90fbcf;
    color: rgba(0,0,0,0.36);
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    margin-right: 10px !important;
}

.ico-pricing-list.i-black{
    background: #b1b1b1;
    color: #000000;
}

.k-btn{
    font-family: multicolore;
    text-transform: uppercase;
    padding: 0 0.75rem;
    margin: 20px 10px 0 0;
    letter-spacing: 1px;
    border-radius: 7px;
    top:0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.k-btn:hover{
    top:-2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.28)
}

.k-btn.red:hover{
    background-color: #fb5b94 !important;
}

.k-btn.purple:hover{
    background-color: #806eff !important;
}

.k-btn-simple{
    font-family:multicolore;
    text-transform:uppercase;
    padding:0 0.75rem;
    letter-spacing: 1px;
    border-radius: 7px;
}

h1.parallax-title{
    font-size: 70px;
    color: #333333 !important;
}
.navbar-fix{
    box-shadow: none !important;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #d0cccc;
}

.login-guys{
    -webkit-animation-duration: 2s !important;
    -moz-animation-duration: 2s !important;
    animation-duration: 2s !important;
}

.login-guys-two{
    -webkit-animation-duration: 2.5s !important;
    -moz-animation-duration: 2.5s !important;
    animation-duration: 2.5s !important;
}

.bubble{
    position: relative;
    padding: 0.75rem;
    border-radius: 15px;
    box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.16);
}

.bubble.b-right{
    float: right;
    top: 20px;
    right: -30px;
    width: 73%;
    background: rgba(220, 248, 198,0.88);
}

.bubble.b-left{
    float: left;
    top: 40px;
    left: -30px;
    width: 90%;
    background: rgba(255, 255, 255,0.88);
}

.bubble-link{
    color: #7c899a;
    margin-top: 10px;
    width: 100%;
    background: #e8e7e7;
    border-radius: 7px;
    padding: 5px;
}

.thumb-logo{
    display: inline-flex;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.email-singup{
    padding-left: 10px !important;
    color: #6b6b6b;
    border-radius: 7px !important;
    border: 2px solid #d8d8d8 !important;
}

.ticket-card-input{
    padding: 12px 0 12px 10px !important;
    height: 3rem !important;
}

.icons-signup{
    background: #FFF;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.54);
    color: #949191 !important;
    font-size: 35px !important;
}

.box-slide{
    background: #FFF;
    border-radius: 10px;
    margin: 0 auto;
    width: 35%;
    box-shadow: 0px 10px 65px rgba(0, 0, 0, 0.16);
}

.card-user{
    background: #FFF;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.parallax-container .section {
    width: 100%;
  }
.button-post{
    position: relative;
    top: -188px;
}
.text-grey{
    color: #9e9e9e !important;
}
.loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
}

#card-errors{
    display:none;
}

.big-purple-button{
    width:100%;
    padding: 0px 25px;
    border-radius: 7px;
    text-transform: none;
    background-color:#5441d5;
}
.big-purple-button:hover{
    background-color:#634fe4;
}

.Editbtn{
    text-transform:none;
    padding:0 0.75rem;
    height:27px;
    line-height:27px;
    background-color:#f6f7f9 !important;
    box-shadow: 0 0 0 1px rgba(50,50,93,.1), 0 2px 5px 0 rgba(50,50,93,.08), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08);
    opacity: .8;
}

.small-gray-button{
    text-transform:none;
    padding:0 0.75rem;
    height:27px;
    line-height:27px;
    box-shadow:0px 0 0px 1px #e0e0e0 !important;
}

.logo-pay{
    position:relative;
    top:9px;
    width:10%;
}

.nav-row-logo{
    width: 100%;
    margin: 0 auto;
}

.ticket-content, .ticket-success {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    padding:10px 15px;
    background-color:rgb(249,249,249);border-radius:10px;
}

/* Hide the second piece of text by default */
.hovertext .second {
    opacity:0;
    position: relative;
    top: -10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

/* Hide the first piece of text on hover */
.hovertext .first{
    position: relative;
    top: 9px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.hovertext:hover .first {
    top: 0px;
}

/* Re-show the second piece of text on hover */

.hovertext:hover .second {
   opacity:1;
   top: 0px;
}

.ticket-container{
    box-shadow: -15px 15px 0px rgba(0, 0, 0, 0.17);
    background: #FFF !important;
    padding: 10px 15px !important;
    border-radius:7px !important;
    position:relative !important;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    margin: 0 auto;
    display: inline-block;
    width: 27.33%;
}

.ticket-container-animated{
    height:auto;
    padding: 20px 15px !important;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}

@media only screen and (max-width : 992px) {
    .ticket-container{
        width: 37.33%;
    }
    .logo-pay{
        width:20%;
    }
    .nav-row-logo{
        text-align: center;
    }
}

@media only screen and (max-width : 782px) {
    .ticket-container {
        width: 47.33%;
    }
}

@media only screen and (max-width : 600px) {
    .ticket-container {
        width: 68.33%;
    }
    .lastname-field{
        padding-left:0 !important;
    }
    .logo-pay{
        width:25%;
    }
}

@media only screen and (max-width : 452px) {
    .ticket-container {
        width: 100%;
        border-radius:0 !important;
    }
    .lastname-field{
        padding-left:0 !important;
    }
    .logo-pay{
        width:30%;
    }
}

@media only screen and (max-width : 320px) {
    .logo-pay{
        width:45%;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: -50px;
}